annotated-types==0.7.0
gitdb==4.0.12
GitPython==3.1.50
iniconfig==2.3.0
packaging==26.2
pluggy==1.6.0
pydantic==2.13.4
pydantic-settings==2.14.2
pydantic_core==2.46.4
Pygments==2.20.0
pytest==9.1.1
python-dotenv==1.2.2
smmap==5.0.3
tree-sitter==0.26.0
tree-sitter-python==0.25.0
typing-inspection==0.4.2
typing_extensions==4.16.0
